[submodule "ruby-buildpack"]
	path = ruby-buildpack
	url = https://github.com/jandubois/ruby-buildpack
[submodule "php-buildpack"]
	path = php-buildpack
	url = https://github.com/jandubois/php-buildpack
[submodule "stacks"]
	path = stacks
	url = https://github.com/jandubois/stacks
[submodule "binary-builder"]
	path = binary-builder
	url = https://github.com/jandubois/binary-builder
[submodule "opensusefs2-rootfs-release"]
	path = opensusefs2-rootfs-release
	url = https://github.com/jandubois/opensusefs2-rootfs-release
[submodule "php-buildpack-release"]
	path = php-buildpack-release
	url = https://github.com/jandubois/php-buildpack-release
[submodule "ruby-buildpack-release"]
	path = ruby-buildpack-release
	url = https://github.com/jandubois/ruby-buildpack-release
